@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Voces", cursive;
	user-select: none;
	@apply bg-background text-white m-0 h-screen;

	/* height: calc(100vh - 36px); */
	display: grid;
	grid-template-columns: 64px 1fr;
	grid-template-rows: 36px calc(100vh - 36px);
	grid-template-areas: 
		"header header"
		"nav content"; 
}

/* from-highlight-dark to-background-dark bg-gradient-to-br */

* {
	/* @apply transition-all duration-500 */
}

h1 {
	@apply text-4xl font-bold mb-5
}

button > * {
	/* Detect button clicks */
	@apply pointer-events-none
}

.fadeIn {
	animation: fadeIn ease-out 400ms forwards
}

@keyframes fadeIn {
	0% {
		transform: scale(.85) translateY(-20%);
		opacity: 0;
	}
	30% {
	}
	100% {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

/* Titlebar */

.title-bar {
	grid-area: header;
	z-index: 1000;
	@apply flex items-center bg-background-dark
}

.title-bar .title {
	-webkit-app-region: drag;
	@apply text-white font-bold text-base m-0 ml-2.5 flex-grow
}

.title-bar .title-bar-btns {
	@apply flex items-center h-full
}

.title-bar button {
	@apply bg-background-dark hover:bg-gray-900 rounded-none p-0 h-full aspect-square
}

.title-bar button.close-btn {
	@apply hover:bg-red-700
}

/* Navigation */

nav {
	grid-area: nav;
	z-index: 1000;
	@apply flex flex-col bg-background-dark text-white shadow-lg
}

nav .icon {
	@apply bg-highlight-dark text-white relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg rounded-3xl transition-all duration-300 ease-linear cursor-pointer
}

nav .icon:hover,
nav .icon.active {
	@apply bg-highlight-light text-background-dark rounded-xl
}

nav .tooltip {
	@apply text-black bg-highlight-light absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-xs font-bold transition-all duration-100 scale-0 origin-left
}

/* Main Content */

main {
	grid-area: content;
	@apply relative p-7 overflow-auto h-full
}

main::-webkit-scrollbar {
	@apply w-4 bg-gray-900
}

main::-webkit-scrollbar-track {
	@apply bg-transparent
}

main::-webkit-scrollbar-corner {
	@apply bg-transparent
}

main::-webkit-scrollbar-thumb {
	@apply bg-background border-solid border-4 border-transparent rounded-md bg-clip-content
}

main::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-500
}

/* Filter */

section.filter {
	@apply sticky top-0 z-10 flex gap-3 mb-8
}

section.filter button {
	@apply shadow-md;
	--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
}

section.filter input.search {
	@apply transition-all duration-300 opacity-0
}

section.filter input.search.active {
	@apply grow opacity-100
}

/* Posters */

section {
	@apply flex flex-wrap gap-7
}

section .poster {
	@apply break-words w-48 hover:text-highlight transition-all duration-300 hover:scale-105 cursor-pointer opacity-0;
	transition-property: text-shadow, box-shadow, transform;
}

section .poster img {
	@apply rounded-lg shadow-xl transition-shadow duration-300 w-full
}

section .poster:hover img {
	@apply shadow-blue-600/10
}

section .content {
}

section .poster .content .title {
	@apply text-lg font-bold transition-transform duration-300 -translate-y-3
}

section .poster:hover .content .title {
	@apply translate-y-0
}
section .poster .content .details {
	@apply text-xs mt-2 text-transparent transition-all duration-300
}

section .poster:hover .content .details {
	@apply text-gray-600
}

section .poster:hover .context {
	@apply opacity-100 pointer-events-auto
}

/* Movies */

/* Series */

section.tv .poster.active.hide {
	transition-duration: 0s;
	animation: fadeOut ease-out 400ms forwards !important
}

@keyframes fadeOut {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

/* section.tv .poster.active {
	@apply absolute top-0 left-0 w-full h-full
} */

section.active {
	@apply  z-10 fixed top-9 left-16 bottom-0 right-0
}

section.active .cover {
	@apply rounded-lg shadow-xl transition-all ease-out z-10
}

section.active.hidden {
	transition-duration: 0s;
	@apply opacity-0 pointer-events-none
}

section.active {
}

section.active .fade {
	@apply transition-all duration-1000 opacity-0
}

section.active.placed .fade {
	@apply opacity-100
}

section.active .infos {
	@apply flex flex-col p-14
}

section.active .infos .details {
	@apply flex flex-col
}

section.active .infos .details > * {
	@apply mt-4
}

section.active .episodes {
	@apply flex flex-col p-14 pl-0
}

/* BLUR COVER IMAGES INSTEAD OF FANART
section.active .cover.placed + .content {
	@apply opacity-100 bg-black;
	--tw-bg-opacity: .3
}

section.active .content {
	@apply transition-all duration-1000 p-10 absolute w-full h-full opacity-0 backdrop-blur-3xl;
	--tw-backdrop-blur: blur(100px);
} */

section.active .fanart {
	@apply absolute top-0 left-0 w-full h-full bg-background pointer-events-none -z-10
}

section.active .fanart img {
	@apply object-cover opacity-30 w-full h-full  blur-lg
}

section.active .content .title {
	@apply text-2xl font-bold mb-3
}


/* Context Buttons */

section .poster .context {
	@apply opacity-0 transition-all duration-300 pointer-events-none;
	/* DEBUG */
	/* opacity: 1; */
}

section .poster .context button {
	@apply text-opacity-50 hover:text-opacity-100 transition-colors duration-300
}

section .poster .context .monitored {
	@apply bg-transparent absolute -top-2 right-2 p-0 text-3xl
}

section .poster .context .buttons {
	aspect-ratio: 0.67;
	font-size: 1.2rem;
    line-height: 1.2rem;
	@apply flex flex-col justify-center items-end gap-2 absolute top-0 right-0 left-0
}

section .poster .context .buttons button {
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
	@apply relative p-1 flex translate-x-1 rounded-l-none shadow-md;
	--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
}

section .poster .context .buttons svg {
	@apply w-5 h-5 box-content
}

section .poster .context .buttons span {
	font-size: .8rem;
    line-height: 1.8rem;
	@apply text-white px-2 transition-all duration-300 absolute top-0 right-8 origin-right w-auto h-full min-w-max opacity-0 scale-x-0 bg-highlight-light backdrop-blur-sm;
	--tw-bg-opacity: .3;
}

section .poster .context .buttons button:hover span {
	@apply opacity-100 scale-x-100
}

/* Settings */

form {
	@apply flex flex-wrap gap-5
}

fieldset {
	@apply relative rounded-xl bg-background-dark border border-gray-900 p-6 shadow-xl min-w-fit flex-grow
}

legend {
	@apply bg-background-dark font-semibold text-2xl text-gray-200 py-1 px-2 border border-gray-900 translate-y-2 shadow-xl
}

label {
	@apply flex flex-col text-gray-500 font-bold mt-5;
}

label * {
	@apply transition-all duration-500
}

label span {
	@apply mb-2;
}

input {
	@apply border-2 p-2 focus:outline-none focus:text-highlight focus:border-highlight
}

textarea {
	@apply border-2 p-2 focus:outline-none focus:text-highlight focus:border-highlight resize-none
}

label.check {
	@apply items-center flex-row-reverse justify-end
}

label.check span {
	@apply mb-0 ml-1.5
}

label input[type="checkbox"] {
	@apply w-4 h-4 border border-gray-300 rounded bg-gray-50
}

button, [type='button'], [type='reset'], [type='submit'] {
	@apply bg-highlight-dark text-white font-bold py-2 px-4 rounded-md shadow-xl transition-all
}

button:hover, button.active, [type='button']:hover, [type='button'].active, [type='reset']:hover, [type='reset'].active, [type='submit']:hover, [type='submit'].active {
	@apply bg-highlight-light
}

button.reset {
	@apply absolute right-6 top-2
}

select {
	@apply block p-2 pr-8 bg-gray-700 placeholder-gray-400 text-white focus:outline-none focus:border-highlight
}

.status {
	@apply float-right inline-flex items-center mt-5
}

.status.success {
	@apply text-green-700
}

.status.error {
	@apply text-red-700
}

.status svg {
	@apply mr-1.5
}